@page
@model Kosorus_Arpad_Hotel.Pages.Pet.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PetModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetModel.Name" class="control-label"></label>
                <input asp-for="PetModel.Name" class="form-control" />
                <span asp-validation-for="PetModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetModel.Species" class="control-label"></label>
                <input asp-for="PetModel.Species" class="form-control" />
                <span asp-validation-for="PetModel.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetModel.OwnerID" class="control-label"></label>
                <select asp-for="PetModel.OwnerID" class ="form-control" asp-items="ViewBag.OwnerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PetModel.StartDate" class="control-label"></label>
                <input asp-for="PetModel.StartDate" class="form-control" />
                <span asp-validation-for="PetModel.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetModel.EndDate" class="control-label"></label>
                <input asp-for="PetModel.EndDate" class="form-control" />
                <span asp-validation-for="PetModel.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetModel.RoomID" class="control-label"></label>
                <select asp-for="PetModel.RoomID" class ="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
