@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit!</h1>
    <p>Pentru a crea o rezervare <a href="~/Pet/Create">CLICK AICI</a>.</p>
</div>
